{% extends 'recipes/base.html' %}

{% block search_bar %}
<!-- No search bar on this page -->
{% endblock %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="container mt-4" style="margin: 0 auto;">
    <h1 class="display-4 text-center">{{ recipe.title }}</h1>
    <div class="text-center">
        <img src="{{ recipe.image.url }}" class="img-fluid my-4" alt="{{ recipe.title }}" style="max-width: 100%;">
    </div>
    <p class="lead">{{ recipe.description }}</p>

    <h3>Ingredients</h3>
    <ul class="list-unstyled row">
        {% for ingredient in ingredients_list %}
            <li class="col-md-2" style="list-style: disc; margin-left: 20px;">{{ ingredient }}</li>
            {% if forloop.counter|divisibleby:5 %}
                <div class="w-100"></div>
            {% endif %}
        {% endfor %}
    </ul>

    <h3>Steps</h3>
    <ol>
        {% for step in steps_list %}
            <li>{{ step }}</li>
        {% endfor %}
    </ol>

    {% if user == recipe.author %}
        <a href="{% url 'recipe_update' recipe.pk %}" class="btn btn-secondary">Edit</a>
        <a href="{% url 'recipe_delete' recipe.pk %}" class="btn btn-danger">Delete</a>
    {% endif %}
</div>

{% block latest_recipes %}
<!-- No latest recipes on this page -->
{% endblock %}

{% endblock %}
